body{
    background-color:#000;
}
/* HomePage */
    /* NavBar */
    .navbar{
        position:sticky;
        top:0;
        justify-content: right;
        z-index: 100;
        background-color: black;
    }
    .navButton{
        cursor:pointer;
        font-size:1.2vw;
        border:solid;
        border-color:rgb(29, 28, 28);
        color:darkgrey;
        padding:0.2vw;
        transition:0.5s;
        margin-right: 1vw;
        text-decoration: none;
    }
    .navButton:hover{
        color:whitesmoke;
        border-color:whitesmoke;
        transition:0.5s;
        transform:scale(130%);
    }

    /* Introduction */
    .introductionWrapper{
        cursor:default;
        text-align: center;
    }
    .titleHome{
        font-size: 9vw;
        color: whitesmoke;
    }
    .subtitleHome{
        font-size: 7vw;
        color:grey;
    }

    /* Sections */
    .sectionsWrapper{
        display:grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
    }
    /* SectionBlock */
    .blockContainer{
        position:relative;
        display:inline-block;
        text-align: center;
        width: 30vw;
        height: 15vw;
        max-width: 30vw;
        max-height: 15vw;
        overflow: hidden;
        cursor:pointer;
        border-radius: 80%;
    }
    .blockContainer:hover img {
        transform: scale(150%);
    }
    .blockTitle{
        position:absolute;
        color:white;
        font-size: 2vw;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
    }
    .bgImg{
        width: 30vw;
        height: 15vw;
        max-width: 30vw;
        max-height: 15vw;
        transition: 1s;
        
    }


/* Fotografia Page */
    /* Title */
    .titleSectionPages{
        display:grid;
        cursor:default;
        justify-content: center;
        font-size:7vw;
        color:whitesmoke;
    }
    .trabajosTitle{
        cursor:default;
        margin-left:3vw;
        font-size:4vw;
        color:grey;
    }

    /* Trabajos */
    .trabajosWrapper{
        display:grid;
        margin-top: 2vw;
        grid-template-columns: auto auto auto;
        justify-content: space-evenly;
        row-gap: 1vw;
    }

    /* Carousels */
    .carouselStyle{
        position:relative;
        margin-left: auto;
        margin-right: auto;
        max-width: 50vw;
        max-height: 30vw;
        margin-top:3vw;
    }
    .carouselImg{
        width: 50vw;
        height: 30vw;
        max-height: 30vw;
    }


/* NotFoundPage */
    .notFoundWrapper{
        position: relative;
        margin:auto;
        text-align: center;
        color:white;
        font-size: 4vw;
    }

/* TrabajoBlock */
    .tblockContainer{
        position:relative;
        display:inline-block;
        text-align: center;
        width: 30vw;
        height: 15vw;
        max-width: 30vw;
        max-height: 15vw;
        overflow: hidden;
        cursor:pointer;
        border:solid;
        border-color: rgb(90, 87, 87);
    }
    .tblockContainer:hover img {
        transform: scale(150%);
    }
    .tblockTitle{
        white-space: pre;
        position:absolute;
        color:white;
        font-size: 2vw;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        transition:2s;
    }
    .tblockContainer:hover .tblockTitle{
        font-size:3vw;
        color:blue;    
    }
    .tbgImg{
        width: 30vw;
        height: 15vw;
        max-width: 30vw;
        max-height: 15vw;
        transition: 1s;
    }

/* Trabajo Ejemplo Page */
    .trabajoEjWrapper{
        display:grid;
        grid-template-areas: 'desc carousel carousel'
                             'desc carousel carousel'
                             'imgs imgs imgs'
        ;
        margin-top: 1vw;
    }
    .trabajoEjDesc{
        grid-area:desc;
        color:whitesmoke;
        font-size: 1.2vw;
    }
    .trabajoEjCarousel{
        grid-area: carousel;
        max-width: 50vw;
        max-height: 30vw;
        margin-right: 2vw;
    }

    .trabajoEjImgs{
        margin-top: 2vw;
        grid-area:imgs;
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: space-evenly;
    }
    .trabajoEjImg{
        cursor:pointer;
        max-width: 30vw;
        max-height: 10vw;
    }
    .trabajoEjImgFull{
        max-width: 50vw;
        max-height: 30vw;
    }