body{
    background-color: red;
}
/* NavBar Section */
.navFonts{
    font-size: 2vw;
}
/* Introduction Section */
.introductionWrapper{
    cursor:default;
    padding-left:15%;
    transition: 2s;
}
.title{
    font-size: 9vw;
}
.subtitle{
    font-size: 7vw;
    padding-left:15%;
}
.introductionWrapper:hover{
    padding-left: 25%;
    transition: 1s;
}

/* Sections Section XDD */
.sectionsWrapper{
    display:grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    margin-top: 10%;
    margin-bottom: 10%;
}


/* Carousels Section */
.carouselsWrapper{
    display:grid;
    grid-template-areas: 'side1 side2'
                         'side1 side3'
    ;

}
.carouselStyle{
    border:solid;
}
.side1{
    align-self: center;
    height: 50%;
    grid-area: side1;
    border-right:0;
}
.side2{
    grid-area: side2;
    border-bottom: 0;
}
.side3{
    grid-area: side3;
}
