body{
    background-color: red;
}
/* NavBar Section */
.navFonts{
    font-size: 2vw;
}
/* Introduction Section */
.introductionWrapper{
    cursor:pointer;

    padding-left:15%;
    transition: 1s;
}
.title{
    font-size: 9vw;
}
.subtitle{
    font-size: 7vw;
    padding-left:15%;
}
.introductionWrapper:hover{
    padding-left: 25%;
    transition: 1s;
}

/* Sections Section XDD */
.sectionsWrapper{
    display:grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    margin-top: 10%;
    margin-bottom: 10%;
}


/* Carousel Section */
.carouselStyle{
    border:solid;
    border-top: none;
}
