/* block Style */
.tblockContainer{
    position:relative;
    display:inline-block;
    text-align: center;
    width: 30vw;
    height: 15vw;
    max-width: 30vw;
    max-height: 15vw;
    overflow: hidden;
    cursor:pointer;
    border:solid;
    border-color: white;
}
.tblockContainer:hover img {
    transform: scale(150%);
}
.tblockTitle{
    position:absolute;
    color:white;
    font-size: 2vw;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    transition:2s;
}
.tblockContainer:hover .tblockTitle{
    font-size:3vw;
    color:blue;    
}
.tbgImg{
    width: 30vw;
    height: 15vw;
    max-width: 30vw;
    max-height: 15vw;
    transition: 1s;
}
